@font-face {
  font-family: berllina;
  src: url(/fonts/Berllina.ttf)
}

.header1 { grid-area: header1; 
  background-color: rgb(241, 206, 142);
  color: black;
  position:sticky;
  text-align: center;
  margin: 40px 20px;
  font-family: berllina;
  font-size: 50px;
}

body {
background-color:rgb(252, 233, 198);
text-align: center;
font-weight: 900;
}

.header2  { 
grid-area: header2; 
background-color: rgb(252, 233, 198);
color: black;
align-self: center;
justify-self: center;
text-align: center;
padding: 20px;

}

.header3 {
  text-align: center;
}

.footer{
  margin: 90px;
  background-color: rgb(241, 206, 142);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
  }

.flex-container > div {
  background-color: rgb(252, 233, 198);
  padding: 5px;
}

.flex-container img {
  height: 230px;
}

